.button {
    border: none;
}

.button:disabled {
    opacity: 0.5;
}

.button--medium {
    //border-bottom: .3rem solid;
    font-weight: 500;
    padding: $s-size;
}

.button--big {
    //border-bottom: .6rem solid;
    font-weight: bold;
    font-size: 2.6rem;
    width: 100%;
    padding: 2.4rem;
    margin-bottom: $m-size;
}

.button--wide {
    width: 100%;
}

.button--purple {
    color: $main-font-color;
    background: $purple;
   //border-bottom-color: darken($purple, 10%);
}

.button--link {
    background: none;
    color: #D33F49;
    font-weight: 500;
    padding:0 0 0 1rem;
}

.button--white-bg{
    background: white;
    padding: 0.2rem 1rem;
}

@media (min-width: $desktop-breakpoint) {
    .button--big {
        margin-bottom: $xl-size;
        font-size: $l-size;
    }   
}