// Colors

$off-black: #20222b;
$off-white: #f7f7f7;
$dark-blue: #333745;
$blue: #3c4251;
$light-black: #464b5e;
$purple: #d12824;
$dark-grey: #333333;
$dark-blue: #364051;
$danger: #888888;
$red: red;
$grey: #666;

$main-font-color: black;
$main-background-color: #fbf384;

// Font Sizes
$font-size-large: 1.8rem;

// Sizes and spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
