.header {
    //background: $off-black;
    //background: #383431;
    background: #3E4E50;
    margin-bottom: $m-size;
    padding: $xl-size 0 $m-size;
}

.header__title {
    font-size: 2.8rem;
    margin: 0 0 .5rem 0;
    color: white;
    text-align: center;
}

.header__subtitle {
    color: white;
    //color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
        padding-top: $m-size;
    }
    .header__title {
        font-size: $l-size;
        text-align: left;
        margin: 0;
    }
    .header__subtitle {
        text-align: left;       
    }
}