.select-language {
    position: absolute;
    display: flex;
    align-items: center;
    right: 2rem;
    top: 1rem;
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;

    span {
        display: block;
        font-size: 1.4rem;
        margin-right:  1rem;
    }

    select {
        display: block;
        -webkit-appearance: button;
        -moz-appearance: button;
        -moz-appearance: window;
        -webkit-user-select: none;
        -moz-user-select: none;
        outline: 0;
        padding: 3px 5px; 
        border: 1px solid #ffffff;
        border-radius: 2px;  
    }
}