.slider{
    position: absolute;
    top:0;bottom: 0;left: 0;right: 0;
    background-color: grey;
}

.slide{
    position: absolute;
    top:5%;left:5%;bottom:5%;right:5%;
    background-color: blue;
}